$color1: #dddede; // Liens navigation
$color2: #353c3f; // Barre navigation
$color3: #dbae58; // Bouton connexion, liens:hover, liens.active 
$color4: rgba(53, 60, 63, 0.5);
$color5: rgb(30, 118, 128);
// background-image: linear-gradient(335deg, $color6, $color7);
$color6: #4be8c4; 
$color7: #006bf5; 




/* couleurs à tester */
$colorA: #f8f1e5;
$colorB: #426886;
$colorC: #f9ba32;
$colorD: #2f3131;

$colorE: #ffffff;
$colorF: #5ea8a7;
$colorG: #257985;
$colorH: #ff4447;

#header{ 
	
    width: 100%;
    height: 100px;
    background-color: blue;
}